.gallery-title {
  margin-bottom: 48px;

  text-align: center;
}
.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.gallery-item {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  width: auto;
}
.nav-wrapper {
  position: relative;
  top: 80px;
}
.swiper-button-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: var(--accent-color);
  background-color: var(--more-color);
}
.swiper-button-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: var(--accent-color);
  background-color: var(--more-color);
}
